
.mainBox {
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 50px;
}

.pictureBox {
    margin : 50px;
    display : flex; 
    flex-direction: column;
    
    img {
        height :200px;
    }
    p {
    
        margin : 0px;
    }
    :nth-child(3){
        font-weight: bold;
    }
    span {
        font-size: small;
        font-style: italic;
    }
    
}
